<html>
    <style>
    h2 {
      font-family: 'Courier New', monospace;
      font-size: 26px;
    }
    form {
      font-family: 'Courier New';
      font-size: 14px;
    }
    </style>
    <p> <a href="http://yobrosignup.herokuapp.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/V-logo.svg" alt="logo" width=100 length=100></a> </p>
    <h2 class="form-title">Log in</h2>
    <form method="POST" action="/verify">
        <p>Username:
        <input name="username" placeholder="Username" required/></p>
        <p>Password:
        <input type="password" name="password" placeholder="Password" required/></p>
        <p> Not our user get? <a href="https://yobro12345.pythonanywhere.com/signup">Sign up here!</a></p>
        <input type="submit" Value="Log in"/>
        </div>
    </form>
</html>
