<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>PriceChecker - Signup</title>
      <link rel="stylesheet" type="text/css" href="/static/style.css">
   </head>
   <body>
      <p><a href="https://pricechecker.herokuapp.com/"><img src="https://i.ibb.co/VBwQqyH/uub8y3.png" alt="logo" width=100 length=100></a> </p>
      <!-- partial:index.partial.html -->
      <article class="l-design-widht" method="POST" action="/insert">
         <div class="card">
            <h2>
               <svg class="icon" aria-hidden="true">
                  <use xlink:href="#money-bill-alt" href="#money-bill-alt" />
               </svg>
               Sign up
            </h2>
            <br>
            <label class="input">
            <input class="input__field" type="text" placeholder=" " required/>
            <span class="input__label">Type your username...</span>
            </label>
            <br>
            <label class="input">
            <input class="input__field" type="password" placeholder=" " required/>
            <span class="input__label">Type your password...</span>
            </label><br>
            <h4><p>By registering, you are agreed all statements in  <a href="https://pricechecker.herokuapp.com/tos" class="term-service">Terms of service</a></p></h4>
            <div class="button-group">
               <input class="button" type="submit" href="#" value="Register">
               <a href="https://pricechecker.herokuapp.com/login">
                  <input type="submit" value="Log in"/>
               </a>
            </div>
         </div>
      </article>
      <svg xmlns="http://www.w3.org/2000/svg" class="svg-inline--fa fa-money-bill-alt fa-w-20">
         <symbol id="money-bill-alt" viewBox="0 0 640 512" width="30px" height="30px">
            <title>money-bill-alt</title>
            <path fill="currentColor" d="M320 144c-53.02 0-96 50.14-96 112 0 61.85 42.98 112 96 112 53 0 96-50.13 96-112 0-61.86-42.98-112-96-112zm40 168c0 4.42-3.58 8-8 8h-64c-4.42 0-8-3.58-8-8v-16c0-4.42 3.58-8 8-8h16v-55.44l-.47.31a7.992 7.992 0 0 1-11.09-2.22l-8.88-13.31a7.992 7.992 0 0 1 2.22-11.09l15.33-10.22a23.99 23.99 0 0 1 13.31-4.03H328c4.42 0 8 3.58 8 8v88h16c4.42 0 8 3.58 8 8v16zM608 64H32C14.33 64 0 78.33 0 96v320c0 17.67 14.33 32 32 32h576c17.67 0 32-14.33 32-32V96c0-17.67-14.33-32-32-32zm-16 272c-35.35 0-64 28.65-64 64H112c0-35.35-28.65-64-64-64V176c35.35 0 64-28.65 64-64h416c0 35.35 28.65 64 64 64v160z"></path>
         </symbol>
      </svg>
      <!-- partial -->
   </body>
</html>
