<html>
   <style>
      body {
      background: linear-gradient(-45deg, #FF6200, #FD7F2C, #FD9346, #FDA766, #FDB777);
      background-size: 400% 400%;
      position: relative;
      animation: change 10s ease-in-out infinite;
      font-family: 'Courier New';
      font-size: 14px;
      }
   </style>
   <head>
   <body>
      <p><a href="https://pricechecker.herokuapp.com/"><img src="https://i.ibb.co/VBwQqyH/uub8y3.png" alt="logo" width=100 length=100></a> </p>
      <h1>
      TRAN THAO MY
      </h1>
   </body>
   </head>
</html>
