{% extends 'base.html' %}
{% block body %}
<p><a href="http://pricechecker.herokuapp.com/"><img src="/static/image/logo.png" alt="logo" width=100 length=100></a> </p>
<article class="modal-content animate">
   <div class="imgcontainer">
      <h2>Welcome to PriceChecker!</h2>
      <button onclick="document.location.href = 'http://pricechecker.herokuapp.com/login'">Log in</button><br>
      <button onclick="document.location.href = 'http://pricechecker.herokuapp.com/signup'">Sign up</button>
   </div>
</article>
{% endblock %}
